fastapi==0.110.2
uvicorn[standard]==0.29.0
numpy==1.26.4

langchain-huggingface==0.3.1
langchain==0.2.1
langchain-community==0.2.1

faiss-cpu==1.7.4
transformers==4.41.1
sentence-transformers==3.0.1
torch==2.2.1

reportlab==4.0.0
pydantic==1.10.13
python-multipart==0.0.9
