# API
fastapi==0.121.0
pydantic==1.10.24
uvicorn==0.18.3  # Needed to run FastAPI server

# ML / Embeddings
numpy==1.26.4  # You are using np
faiss-cpu==1.12.0
sentence-transformers==5.1.2
transformers==4.57.1
